



<%= form_tag chooseit_responses_path, method: :post, id: 'chooseit_response_form' do %>
  <%= hidden_field_tag 'chooseit[id]', @chooseit.id %>

<div class="ui  grid">


<div class="ui floated left center aligned sixteen wide column" id="radio">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
       <% @chooseit.chooseit_choices.each do |option| %>


  <% unless current_or_guest_user.voted_for?(@chooseit) && current_or_guest_user.id != @chooseit.user_id %>


        <%= radio_button_tag 'chooseit_choice[id]', option.id %>

    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <% end %>
  <% end %>

</div>


      <% if current_or_guest_user.voted_for?(@chooseit) && current_or_guest_user.id != @chooseit.user_id %>
        <p> You have already voted fo this one!</p>
      <% else %>
      <div class="sixteen wide center aligned column">
         <div class="actions">
         <%= submit_tag 'ChooseIT' %>
         </div>
         </div>
      <% end %>

      </div>
<% end %>
</div>




