<div class="ui segment" id="background">
  <div class="ui centered grid">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="eight wide column">
      <div class="ui center aligned header"><br>

          <a href=<%= new_chooseit_path %>><button class="ui huge giant blue button">Create a ChooseIT</button></a>
      </div>
    </div>
  </div>
  </div>
          <div class="ui center aligned blue header">
          <h2>You've just given someone the gift of your solicited opinion!</h2>
          <h2>How about soliciting some of your own?  Go ahead...</h2></div><br>

  <div class="ui centered grid">
    <div class="eight wide column">
      <div class="ui center aligned header">


      <a href=<%= chooseit_path(@chooseit) %>><button class="ui  teal button">Return to ChooseIT</button></a>
      <br><br><br><br>
      </div>
      </div>
      </div>