<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> To North Coast Section Wrestling League Reps:</h1>


      <p>
        visit  <%= link_to "NCS Wrestling Championships Website", "http://www.ncswrestling.com"  %> (www.ncswrestling.com)
      </p><br>

      <p>
          <ul>YOUR USERNAME:  <b><%= @user.email %></b> </ul>

      </p><br>

      <p>
        Fill in ALL information for each wrestler. <b>Please do NOT enter names in all caps!</b>
        (ex. John Stone and not JOHN STONE).
      </p><br>




      <p>
        Thank you for your cooperation.  With your help we can get the brackets produced and published as quickly as possible.  Contact Larry Katz with questions @ 510-656-8766.
      </p><br>


  </body>
</html>