<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> <%= @chooseit.title %></h1>


      <p>
        <%= link_to "Click here to ChooseIT.", "https://choosychooseit.herokuapp.com/chooseits/#{@chooseit.slug}"  %>
      </p>

      <p>
         <%= @chooseit_choice_2.description %><br><br>

      Click the link and check one or the other.  That's it!

      </p><br>

      <p>
        Thank you for your help.
      </p><br>

      <p>
      Your friend,<br><br>

        <%= @user.name %>
        </p>


  </body>
</html>