<div id="footer">
  <div class="ui inverted blue footer vertical segment">


      <div class="ui stackable inverted divided relaxed grid">
        <div class="center aligned sixteen wide column">
          <i class="copyright icon"></i>2015 &emsp;
          <a href="mailto:scottalankatz@gmail.com">email: webmaster</a>
</div>


  </div>
  </div>
  </div>
