
 <div class="button"><br>
  <%= link_to "Create a ChooseIT", new_chooseit_path %>
 </div>
<!-- <div class="button"><br>
  <%= link_to "Show my ChooseITs", user_chooseits_path(current_user) %>
 </div>
 -->

