<br><br>
<thead>

  <tr>User Id</tr>
  <tr>Title</tr>
  <tr>Link</tr>
  <tr>Genre</tr>
  <tr>Edit</tr>
  <tr>Delete</tr>
</thead>

<tbody>
  <% @chooseits.each do |chooseit| %><br>
    <% @chooseit_choice_1 = chooseit.chooseit_choices[0] %>
    <% @chooseit_choice_2 = chooseit.chooseit_choices[1] %>
    <%= render partial: '/users/chooseits/table_row', locals: { chooseit: chooseit, chooseit_choice_1: @chooseit_choice_1, chooseit_choice_2: @chooseit_choice_2 } %> <br>
  <% end %>
</tbody>

<div class="button"><br><br>
    <%= link_to "Create a ChooseIT", new_chooseit_path %>
</div>
