<div class="chooseit_new">
  <h3>Create your ChooseIT right here!</h3>

  <%= render "users/chooseits/shared/chooseit_form", { :chooseit => @chooseit, :user => @user, :chooseit_choices: @chooseit_choices} %>
</div>