

  <%= content_tag(:label) do %>

  <% unless current_or_guest_user.voted_for?(@chooseit) && current_or_guest_user.id != @chooseit.user_id %>
    <div class="ui checkbox">
      <input type="checkbox">
        <%= radio_button_tag 'chooseit_choice[id]', option.id %>
      </div>
      <%= option.description %>
    <% end %>



  <% end %>

