<thead><br><br>
  <tr>User Id</tr>
  <tr>Title</tr>
  <tr>Link</tr>
  <tr>Genre</tr>
  <tr>Option 1</tr>
  <tr>Opion 2</tr>
  <tr>Edit</tr>
  <tr>Delete</tr>
</thead>

<tbody>
<br>
   <%= render partial: '/users/chooseits/table_row', locals: { chooseit: @chooseit, chooseit_choice_1: @chooseit_choice_1, chooseit_choice_2: @chooseit_choice_2 } %> <br>
 </tbody>

<div class="button"><br><br>
    <%= link_to "Create a ChooseIT", new_chooseit_path %>
</div>

<div class="button"><br><br>
  <%= link_to "Show my ChooseITs", user_chooseits_path(@author) %>
 </div>
